#classTable .section {
    color: #888;
    font-size: 12px;
    padding-left: 3px;
}

#classTable td {
    padding: 4px 10px 3px 10px;
}

.details-block {
    background-color: #f9f9fa;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 10px 20px 10px;
    font-size: 16px;
    padding: 5px 20px;
    min-width: 300px;
    line-height: 150%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.details-block .details {
    margin: 5px 0 0 14px;
    font-size: 14px;
}

.details-block .details b {
    color: #555;
}

.professor-block {
    padding-bottom: 10px;
}

.professor-block .photo {
    margin-left: 0;
}

.professor-block .photo img {
    float: left;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.professor-block  h1 {
    margin-bottom: 6px;
}

.details-block li {
    margin: 3px 0;
}

.professor-block  h3 {
    line-height: 130%;
    padding-top: 3px;
    margin-bottom: 10px;
}

.professor-block .info {
    margin-top: 15px;
}

.courses-block {
    clear: both;
    padding: 8px 18px 5px 20px;
}

/* The "status" indicator for professors. */

.professor-block .status {
    font-style: italic;
    margin-bottom: 6px;
}

.professor-block .status img {
    vertical-align: middle;
    margin-top: -3px;
}

.professor-block .available {
    color: #448744;
}

.professor-block .unavailable {
    color: #874444;
}

/* Course table */

#searchControls {
    margin-top: 5px;
}

#tableFilterBar {
    width: 480px;
    display: block;
    margin: 0 auto;
}

#tableFilterBar label {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    float: none;
    margin-right: 8px;
    margin-top: -3px;
}

#tableFilterBar input {
    font-size: 20px;
    height: 22px;
}

#otherControls {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

#otherControls label {
    width: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #888;
    margin-right: 14px;
    margin-top: -3px;

}

#termSelector {
    width: 120px;
    font-size: 16px;
}

#classTable_info {
    font-size: 16px;
    color: #666;
    padding: 8px 0 0 3px;
    width: auto;
}

#classTable_paginate {
    padding: 8px 3px 0 0;
}

#classTable tr td {
    min-height: 44px;
}

.profPhoto {
    width: 14px;
    border: 1px solid #ddd;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px;
}

#searchDescription {
    text-align: center;
    font-size: 20px;
    color: #bbb;
    margin-top: 10px;
}