/*================ TEXTBOOKS ==============*/

.textbook {
    clear: both;
    min-height: 75px;
    margin: 3px 0 16px 0;
}

.textbook .photo {
    float: left;
    margin-bottom: 5px;
}

.textbook .title {
    font-size: 16px;
    font-weight: bold;
}

.textbook .oldPrice {
    text-decoration: line-through;
    color: #999;
    font-weight: bold;
}

.textbook .noBookImage {
    background-color: #e6e6ef;
    border: 1px solid #ddd;
    display: inline-block;
    width: 60px;
    height: 70px;
    margin-left: 15px;
    margin-top: 10px;
}