.importBar {
    padding: 20px;
    font-size: 18px;
    background-color: #efe;
    border: 2px solid #cdc;
    margin-bottom: 15px;
}

.importBar .status .time {
    font-size: 14px;
    margin-left: 5px;
    color: #999;

}

.importBar .actionLinks {
    float: right;
}