/*@media print{@page {size: landscape}}*/

body {
    padding: 20px 20px 0 20px;
    margin: 0;
    width: 100%;
}

#professorInfo {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #aaa;
    font-size: 16px;
    line-height: 22px;
}

hr {
    border-bottom: 1px solid #eee;
}

h1 {
    font-size: 36px;
    padding: 0;
    margin-top: 8px;
    line-height: 40px;
    margin-bottom: 6px;
}

h3 {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 26px;
}

.photo img {
    border: 1px solid #888;
}

.fc-event-skin {
    font-size: 16px;
    color: #000 !important;
    background-color: #fff !important;
}

.fc-widget-header {
    font-size: 16px;
    /*padding: 5px !important;*/
}